@media (max-width: 620px){
    .lol_slider{
        padding: 0 5px;
        gap: 10px;
    }

    .btn_seta{
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista_champs{
        height: 480px;
    }

    .cartao, .imagem_champ{
        max-height: 430px;
    }

    .cartao .informacoes .nome, .rp{
        max-width: 50%;
        font-size: 0.8em;
    }

    .cartao .informacoes{
        max-height: 400px;
    }

    .descricao{
        margin-top: 50px;
    }
}

/*WIDTH ATÉ 680PX*/

@media (max-width: 480px){
    .lol_slider{
        width: 100%;
    }

    .btn_seta{
        width: 10px;
        height: 10px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .lista_champs{
        height: 480px;
    }

    .cartao, .imagem_champ{
        max-height: 530px;
        max-width: 265px;
    }

    .cartao .informacoes{
        max-width: 300px;
    }

    .cartao .riot_point{
        width: 20px;
    }

}